* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fb;
    color: #333;
}



header {
    text-align: center;
    padding: 20px;
    background: #05974e;
    color: white;
}


main {
    min-height: 80vh;
    width: 90%;
    max-width: 600px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.search-input {
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
}


.search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background: #05974e;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.search-button:hover {
    background: #05974e;
}


.div-pais {
    margin-top: 20px;
    padding: 20px;
    width: 100%;

    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pais-nome {
    font-size: 28px;
}

.pais-bandeira {
    width: 150px;
    border-radius: 6px;
}

.pais-capital,
.pais-populacao,
.pais-linguas {
    font-size: 16px;
}


footer {
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}